@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: url(https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.game--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: max-content;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: antiquewhite;
    border-radius: 3px;
    box-shadow: #2b3485 0px 0px 8px, black 0px 0px 7px 1px;
    min-width: 22rem;
}

.canvas--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: white;
}

.grid-cell {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 1px solid #2b3485;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    font-size: 3rem;
}

.disabled {
    cursor: not-allowed;
}

.grid-cell:not(.disabled):hover {
    transform: scale(1.03);
    background-color: rgb(231, 231, 231);
}

.grid-cell:nth-child(-n + 3) {
    border-top: none;
}

.grid-cell:nth-child(3n + 1) {
    border-left: none;
}

.grid-cell:nth-child(3n + 3) {
    border-right: none;
}

.grid-cell:nth-last-of-type(-n + 3) {
    border-bottom: none;
}

.control--btns {
    width: 7rem;
    height: 2.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    box-shadow: #666eb9 0px 0px 2px, #864d4d 0px 0px 2px 1px;
    cursor: pointer;
    margin-top: 2rem;
    transition: all .3s;
}

.control--buttons {
    display: flex;
    gap: 2rem;
}

.control--btns:hover {
    background-color: #2b3485;
    color: white;
    border: 1px solid white;
}

.x::after {
    content: '❌';
}

.o::after {
    content: '⭕';
}

.player__turn {
    font-family: Raleway;
    color: black;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.controls--container{
    display: flex;
    flex-direction: column;
}